In [3]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [2]:
import pandas as pd
reactions_yellow = pd.read_sql('SELECT * FROM reactions WHERE user_id="cv13116"', engine)
reactions_SkyCiv = pd.read_csv('Reactions.csv', index_col = None)

NameError: name 'engine' is not defined

In [4]:
with open('Displacements.txt', 'r') as f:
    for line in f.readlines():
        print(line)

LINEAR STATIC ANALYSIS REPORT

SkyCiv Structural 3D v4.2.2

Date: Sat Oct 05 2019 02:55:53 GMT+0300 (Eastern European Summer Time)



File Name: lol

Job Name: Empty

Designer: Empty

Job Description: Empty







==============================================================================

                               NODAL RESULTS

==============================================================================



-------------------

NODAL DISPLACEMENTS (mm)

-------------------



                    X             Y             Z         Total

   Node   Translation   Translation   Translation   Translation



      1          0.00          0.00          0.00          0.00

      2        -20.00       -147.42         -0.15        148.77

      3          0.00          0.00          0.00          0.00

      4        -33.31       -147.55          0.01        151.26

      5          0.00          0.00          0.00          0.00

      6        -16.92        -81.88         -0.02         83.61







END

In [14]:
d_nodal = []
with open('Displacements.txt', 'r') as f:
    for line in f.readlines()[22:-4]:
        tmp = re.sub('[*#]', '', line).strip().split()
        if tmp:
            tmp[0] = int(tmp[0])
            tmp[1:-1] = list(map(float, tmp[1:-1]))
            tmp[1:-1] = [i/1000 for i in tmp[1:-1]]
            d_nodal.append(tmp[:-1])
pd.DataFrame(d_nodal, columns=['Node','ux','uy', 'uz'])

   Node       ux       uy       uz
0     1  0.00000  0.00000  0.00000
1     2 -0.02000 -0.14742 -0.00015
2     3  0.00000  0.00000  0.00000
3     4 -0.03331 -0.14755  0.00001
4     5  0.00000  0.00000  0.00000
5     6 -0.01692 -0.08188 -0.00002

In [302]:
reactions_yellow.iloc[:,2:]

   number      Fx       Fy       Fz       Mx      My     Mz
0       1   5.228  112.646  133.619 -249.929  20.498 -3.984
1       3  19.673   92.899  -13.331 -223.684  48.765  0.316
2       5  16.087  194.455   41.688 -351.212  56.499  9.342

In [239]:
engine = create_engine('mysql://root:pass@localhost/yellow')
dz_exact = pd.read_csv('Displacement Z.csv')
dy_exact = pd.read_csv('Displacement Y.csv')
d_sum = pd.read_csv('Displacement Sum.csv')

In [240]:
elements = pd.read_sql('SELECT number, length FROM elements WHERE user_id="cv13116"', engine)
local_calc = pd.read_sql('SELECT number, x, ux, uy, uz FROM displacements WHERE user_id="cv13116"', engine)

In [241]:
local_list = []
with open('local.txt', 'r') as f:
    for line in f.readlines()[24:-5]:
        tmp = re.sub('[*#]', '', line).strip().split()
        if tmp:
            tmp[0] = int(tmp[0])
            tmp[1:] = list(map(float, tmp[1:]))
            local_list.append(tmp)
            
global_list = []
with open('local.txt', 'r') as f:
    for line in f.readlines()[24:-5]:
        tmp = re.sub('[*#]', '', line).strip().split()
        if tmp:
            tmp[0] = int(tmp[0])
            tmp[1:] = list(map(float, tmp[1:]))
            global_list.append(tmp)

In [242]:
local_df = pd.DataFrame(local_list, columns=['number','x','ux','uy', 'uz', 'rx', 'ry', 'rz'])
local_df.iloc[:,2:5] = local_df.iloc[:,2:5]/1000
global_df = pd.DataFrame(global_list, columns=['number','x','ux','uy', 'uz', 'rx', 'ry', 'rz'])

In [243]:
group1 = local_df.groupby('number')
group2 = local_calc.groupby('number')

In [244]:
uz_error = []
uy_error = []

for g1, g2 in zip(group1,group2):
    tmp = 100*(g2[1].uy-g1[1].uy)/g1[1].uy
    uy_error.append(tmp.mean())
    tmp = 100*(g2[1].uz-g1[1].uz)/g1[1].uz
    uz_error.append(tmp.mean())

In [247]:
uy_error

[-2.2013426086910865e-05,
 -4.117483934494475e-05,
 2.332522379503751e-05,
 1.424532871872895e-05,
 -7.145576004277526e-05]

In [245]:
uz_error

[-0.00013543736999823363,
 -7.102563009844542e-05,
 7.843444215550189,
 0.0002081441935392823,
 -14.541704583062428]

In [246]:
uz_error

[-0.00013543736999823363,
 -7.102563009844542e-05,
 7.843444215550189,
 0.0002081441935392823,
 -14.541704583062428]

In [236]:
local_df.loc[local_df.number==3].uz

50    0.000015
51   -0.004214
52   -0.007598
53   -0.010187
54   -0.012035
55   -0.013198
56   -0.013733
57   -0.013703
58   -0.013172
59   -0.012208
60   -0.010879
61   -0.009260
62   -0.007427
63   -0.005457
64   -0.003432
65   -0.001437
66    0.000441
67    0.002112
68    0.003483
69    0.004459
70    0.004941
71    0.004826
72    0.004012
73    0.002390
74   -0.000148
Name: uz, dtype: float64

In [237]:
local_calc.loc[local_df.number==3].uz

50    0.000015
51   -0.004393
52   -0.008295
53   -0.011707
54   -0.014647
55   -0.017131
56   -0.019176
57   -0.020798
58   -0.022016
59   -0.022845
60   -0.023303
61   -0.023406
62   -0.023172
63   -0.022616
64   -0.021757
65   -0.020610
66   -0.019193
67   -0.017523
68   -0.015616
69   -0.013489
70   -0.011159
71   -0.008643
72   -0.005958
73   -0.003121
74   -0.000148
Name: uz, dtype: float64